@import url("https://fonts.googleapis.com/css?family=League+Spartan:400,500,600,800");
@import "open-props/style";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

:root {
    --light: #FCFAF3;
    --dark: #212121;
    --grey: #726d6d;
    --accent-1: #C00000;
    --accent-2: #F9BB1A;
}

@media (min-width: 768px) {
    html {
        font-size: 130%;
    }
}

body {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    line-height: 1.55;
    max-width: 1600px;
    margin: auto;
    background-color: var(--light);
    color: var(--dark);
}

/* Layout */

.wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    row-gap: 0;
    align-content: start;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.container-sm {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container-xs {
    width: 100%;
    max-width: 900px;
    margin: auto;
}


/* Utils */

.h1 {
    font-size: var(--font-size-fluid-3);
    font-weight: 800;
    line-height: 1.1;
}
.h2 {
    font-size: var(--font-size-fluid-2);
    font-weight: 600;
    line-height: 1.1;
}
.h3 {
    font-size: var(--font-size-fluid-1);
    font-weight: 500;
    line-height: 1.1;
}

.p {
    font-size: var(--font-size-3);
    font-weight: 400;
    line-height: 1.5;
}

small {
    font-size: var(--font-size-0)
}

.grid-sm {
    display: grid;
    place-items: center;
    gap: var(--size-fluid-1);
}
.grid-md {
    display: grid;
    place-items: center;
    gap: var(--size-fluid-2);
}
.grid-lg {
    display: grid;
    place-items: center;
    gap: var(--size-fluid-3);
}

/* COMPONENTS */
.btn {
    color: var(--dark);
    text-decoration: none;
    padding: var(--size-1) var(--size-3);
    border-radius: var(--radius-1);
    cursor: pointer;
}

.btn-menu {
    background-color: transparent;
    border: none;
    display: grid;
    place-items: grid;
    place-items: center;
    padding-inline: var(--size-2);
}
.btn-menu[aria-expanded="true"] + .nav-links {
    transform: translateY(0);
}

.btn-join {
    background-color: var(--accent-2);
    height: var(--size-6);
    width: var(--size-11);
    font-size: var(--font-size-3);
    margin: auto;
    color: var(--dark);
    border: none;
    display: grid;
    place-items: center;
}

/* Nav */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: var(--size-fluid-1);
}

.nav-links,
.nav-wrapper {
    display: flex;
    align-items: center;
    gap: var(--size-3);
}

.nav-links {
    flex-direction: column;
    transform: translateY(-200%);
    position:absolute;
    background-color: var(--light);
    top: var(--size-fluid-5);
    text-align:center;
    left: 0;
    right: 0;
    padding: var(--size-2);
    border-bottom: 2px solid var(--accent-2);
    z-index: 1;
}

li[role="none"],
.nav-link {
    width: 100%;
    display: block;
    font-size: var(--font-size-1)
}

.logo {
    height: calc(var(--size-fluid-5) * 0.75);
    width: calc(var(--size-fluid-5) * 1.25);
}

@media (min-width: 900px) {
    .nav-wrapper {
        gap: var(--size-4);
    }
    .btn-menu {
        display: none;
    }
    .nav-links {
        flex-direction: row;
        position: static;
        transform: translateY(0);
        border: none;
        padding: 0;
        inset: initial;
        background-color: transparent;
    }
    li[role="none"],
    .nav-link {
        width: initial;
        font-size: var(--font-size-3);
    }
    .logo {
        height: calc(var(--size-4) * 2);
        width: calc(var(--size-5) * 5);
    }
}

.footer {
    display: block;
    margin-top: var(--size-5);
    height: var(--size-6);
    text-align: center;
    background-color: var(--grey);
    color: var(--light);
}


/* Hero */

.hero-image {
    background-image: url('../images/QNC.jpg');
    height: calc(var(--size-14)*2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    font-weight: 800;
    line-height: 1.1;
    font-size: calc(var(--font-size-fluid-2)*1.5);
    position: absolute;
    padding: var(--size-8);
    color: var(--accent-1);
}
#first {
    color: var(--dark);
}

.hero-line{
    display: block;
    width: fill;
    height: 5px;
    background-color: var(--accent-2);
}

/* General */

main {
    display: grid;
    gap: 0;
    padding: 0;

}

section {
    display: grid;
    margin: var(--size-fluid-3);
    margin-bottom: 0;
}

section p {
    font-size: var(--font-size-3);
    font-weight: 400;
    line-height: 1.5;
}

section h2 {
    font-size: var(--font-size-6);
    font-weight: 600;
    line-height: 1.5;
}

section h3 {
    font-size: var(--font-size-4);
    font-weight: 600;
    line-height: 1.5;
}


.common-line{
    display: block;
    margin: var(--size-3) auto;
    width: 121px;
    height: 3px;
    background-color: var(--accent-1);
}

.section-wrapper {
    padding: var(--size-fluid-4);
}

.section-title {
    width: auto;
    text-align: center;
}

.section-wrapper p {
    text-align: left;
    padding-top: var(--size-3);
}

.team-grid {
    display: grid;
    justify-items: center;
    gap: var(--size-1) var(--size-10);
    text-align: center;
}

@media (min-width: 900px) {
    .team-grid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(1fr));
        columns: 3;
        gap: var(--size-1) var(--size-10);
    }
    .grid-item:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
      
    .grid-item:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
      
    .grid-item:nth-child(3) {
        grid-column: 2;
        grid-row: 1;
    }
      
    .grid-item:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
      
    .grid-item:nth-child(5) {
        grid-column: 3;
        grid-row: 1;
    }
      
    .grid-item:nth-child(6) {
        grid-column: 3;
        grid-row: 2;
    }
}


.members-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin: var(--size-5);
}

.member-card {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
}

.member-card img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.member-card p {
    color: var(--grey);
}

@media (min-width: 900px) {
    .members-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media (min-width: 1200px) {
    .members-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

.about-text {
    color: var(--dark);
    text-indent: var(--size-fluid-3);
    margin: var(--size-fluid-1);
    text-justify: auto;
}
#first {
    color: var(--dark);
    font-weight: 800;
}
#second {
    color: var(--accent-1);
    font-weight: 800;
}