---
import UnderlineLink from "../components/UnderlineLink.astro";
import ArrowLink from "../components/ArrowLink.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import teamImage from "../data/images/team_2.jpg";
import labImage from "../data/images/team_3.jpg";
---

<Layout title="Formula Nano" fullWidth>
  <main>
    <div class="bg-gradient-to-r from-red-100 to-yellow-100 -mt-28">
      <div class="flex pb-28 pt-48 max-w-6xl mx-auto items-stretch">
        <div class="basis-3/5">
          <h1 class="text-3xl font-bold italic md:text-4xl lg:text-5xl pb-8">
            We are designing,<br />building, and racing<br />molecular machines
            at<br />the nanoscale
          </h1>
          <p
            class="text-gray-800 pb-16 font-chivo font-light leading-[1.4] pr-12 max-w-[60ch]"
          >
            Formula Nano is an engineering student design team at the University
            of Waterloo. Our current goal is to compete in the next
            International Nanocar Race, where teams compete to race single
            molecules using a specialised scanning tunnelling microscope (STM).
          </p>
          <div
            class="flex place-content-around items-center rounded-l-xl px-6 py-8 mb-16 outline outline-1 outline-yellow-400"
          >
            <div class="flex flex-col items-center">
              <Icon name="ph:atom" class="text-6xl text-yellow-500" />
              <span class="font-semibold">Only 100 to 1000 Atoms</span>
            </div>
            <div class="w-0.5 bg-yellow-400/30 h-20 rounded-full"></div>
            <div class="flex flex-col items-center">
              <Icon
                name="ph:arrows-in-line-horizontal"
                class="text-6xl text-yellow-500"
              />
              <span class="font-semibold">A few nanometres wide</span>
            </div>
            <div class="w-0.5 bg-yellow-400/30 h-20 rounded-full"></div>
            <div class="flex flex-col items-center">
              <Icon name="ph:microscope" class="text-6xl text-yellow-500" />
              <span class="font-semibold">Propelled by an STM</span>
            </div>
          </div>
        </div>
        <div class="basis-2/5 pt-12">
          <Image
            src={labImage}
            alt="Selfie of 3 Formula Nano team members in a lab smiling at camera"
            class="h-full rounded-xl object-cover"
          />
        </div>
      </div>
      <div class="h-12 -mt-12 bg-gradient-to-b from-transparent to-gray-50">
      </div>
    </div>

    <div class="h-36"></div>

    <div class="flex justify-center">
      <section class="flex max-w-6xl gap-8 items-stretch">
        <div class="flex-1">
          <h3 class="py-4 text-4xl font-bold text-stone-900 text-balance">
            What have we been working on?
          </h3>
          <TimelineItem
            date="April 2024"
            title="Founded"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua."
          />
          <TimelineItem
            date="April 2024"
            title="Founded"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua."
          />
          <TimelineItem
            date="April 2024"
            title="Founded"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua."
          />
          <TimelineItem
            date="April 2024"
            title="Founded"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua."
          />
        </div>
        <div class="flex-1">
          <Image
            src={teamImage}
            alt="Formula Nano Team Members standing on a set of stairs smiling at the camera"
            class="w-auto overflow-hidden rounded-xl object-cover"
          />
        </div>
      </section>
    </div>

    <div class="h-56"></div>

    <div class="flex justify-center">
      <section class="relative flex gap-8 max-w-6xl">
        <div
          class="absolute w-[95%] h-[95%] outline outline-1 rounded-xl outline-stone-400 z-[-1] -mt-8"
        >
        </div>
        <h2 class="text-4xl font-bold pl-8">We need your help!</h2>
        <div class="mb-px rounded-xl bg-red-100 p-8 pt-4 basis-1/2">
          <Icon name="ph:handshake" class="text-7xl text-red-600" />
          <h3 class="pb-3 text-2xl pt-1 font-bold text-stone-900">Join Us</h3>
          <p>
            Interested in what we're doing? Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
          </p>
          <ul class="list-disc pb-4 pl-4 marker:text-red-400">
            <li>Chemistry</li>
            <li>Computation</li>
            <li>Instrumentation</li>
            <li>Business</li>
          </ul>
          <ArrowLink label="See our Subteams" to="/join" />
        </div>
        <div class="rounded-xl bg-yellow-100 p-8 pt-4 basis-1/2 flex flex-col">
          <Icon name="ph:money-wavy" class="text-7xl text-yellow-500" />
          <h3 class="pb-3 text-2xl font-bold text-stone-900">Sponsor Us</h3>
          <p class="pb-4">
            Think what we're doing is cool and want to support us? We're always
            looking for financial and in-kind support, and would love to hear
            how you can help.
          </p>
          <div class="grow"></div>
          <ArrowLink label="See Sponsor Info" to="/sponsor" />
        </div>
      </section>
    </div>

    <div class="h-36"></div>
  </main>
</Layout>
