---
import Layout from "../layouts/Layout.astro";
import JoinCards from "../components/JoinCards.astro";

import { Image } from "astro:assets";
import bunny from "../data/images/bunny.png";
import carimage from "../data/images/carmolecule.png";
import typesofcars from "../data/images/typesofcars.png";
---

<Layout title="The Next Race">
  <main>
    <Image
      src={bunny}
      alt="Formula Nano Team Members on a sunny day standing in front of University of Waterloo Quantum Nano Center"
      class="mt-8 h-48 w-full rounded-2xl object-cover object-top sm:h-[30rem]"
    />
    <h1 class="py-8 text-6xl font-bold">Our Next Nanocar Competition!</h1>

    <section class="max-w-[65ch] gap-8 space-y-3 pb-12">
      <p>
        Formula Nano is gearing up to join the next International Nanocar Race,
        an event where teams from around the world control molecule-sized “cars”
        to compete on the nanoscale!
      </p>
      <p>
        We’re excited to take on the challenge, meet the race’s unique criteria,
        and showcase to the world our own molecular-vehicle designs, made with
        precision and innovation.
      </p>
      <p class="font-bold">
        Stay tuned as we share updates on our progress—this is just the
        beginning!
      </p>
    </section>

    <!-- Competition Rules Section -->
    <section
      class="rounded-2xl border border-stone-300 bg-stone-100 p-12 pt-8"
      id="competition-rules"
    >
      <h2 class="text-center text-3xl font-bold">Competition Rules</h2>
      <p class="mt-4">
        Here are the rules from the Second International Nanocar Race in
        Toulouse that we are preparing to follow for our own participation in
        the next competition:
      </p>

      <ul class="mt-4 list-inside list-disc">
        <li>
          <strong>Remote Control:</strong> All teams will remotely control their
          nanocars from Toulouse.
        </li>
        <li>
          <strong>Sponsorship:</strong> Each team should have at least one sponsor
          to support their race expenses.
        </li>
        <li>
          <strong>Mechanical Assistance:</strong> No mechanical push is allowed during
          the race.
        </li>
        <li>
          <strong>Vehicle Flexibility:</strong> Molecule-vehicles may be changed
          during the race.
        </li>
        <li>
          <strong>Racing Surfaces:</strong> Set by the organization committee.
        </li>
        <li>
          <strong>Weather Conditions:</strong> Racing will occur in ambient and/or
          LT-UHV conditions.
        </li>
        <li>
          <strong>Outreach:</strong> Team leaders or pilots should be ready for media
          activities (press, TV, web).
        </li>
      </ul>
    </section>

    <!--  Day 1 Section -->
    <section id="days">
      <div class="flex flex-col gap-6 px-6 py-12 md:flex-row md:items-center">
        <div class="basis-3/4">
          <h2 class="pb-3 text-3xl font-bold text-gray-800 sm:text-4xl">
            Day 1: Ambient Nanocar Race
          </h2>
          <ul class="max-w-[55ch] list-inside list-disc">
            <li><strong>Duration:</strong> 4 hours.</li>
            <li>
              <strong>Vehicle Specifications:</strong> Molecule-vehicles must range
              from approximately 100 to 1,000 atoms and have a distinguishable front
              and rear.
            </li>
            <li>
              <strong>Race Circuits:</strong> Courses will be tailored for both speed-focused
              nanocars and molecule-trucks carrying a molecular load.
            </li>
            <li>
              <strong>Prize Criteria:</strong> The vehicle covering the maximum distance
              within 4 hours wins!
            </li>
          </ul>
        </div>
        <div>
          <Image
            src={typesofcars}
            id="typesofcars"
            alt="six different nanocars"
            class="basis-1/4 rounded-2xl object-contain"
          />
        </div>
      </div>

      <!-- Day 2 Section -->
      <div class="flex flex-col gap-6 px-6 py-12 md:flex-row md:items-center">
        <div class="basis-3/4">
          <h2 class="pb-3 text-3xl font-bold text-gray-800 sm:text-4xl">
            Day 2: LT-UHV Nanocar Race
          </h2>
          <ul class="max-w-[55ch] list-inside list-disc">
            <li><strong>Duration:</strong> 4 hours.</li>
            <li>
              <strong>Vehicle Classes:</strong> Two classes accepted – classical
              (wheels and motor) or quantum motors.
            </li>
            <li>
              <strong>Specifications:</strong> Molecule-vehicles must also range
              from around 100 to 1,000 atoms and have identifiable front and rear.
            </li>
            <li>
              <strong>Race Circuits:</strong> Slalom circuits for speed and straight-line
              tracks for molecule-trucks carrying molecular loads.
            </li>
            <li>
              <strong>Prize Criteria:</strong> The vehicle covering the greatest
              distance in 24 hours will be declared the winner!
            </li>
          </ul>
        </div>
        <div>
          <Image
            src={carimage}
            id="carimage"
            alt="Car and molecule combination picture"
            class="basis-1/4 object-contain"
          />
        </div>
      </div>
    </section>

    <p class="mt-16 text-center text-xl font-semibold" id="join">
      For more details and to catch all the action, check out the official rules
      for Nanocar Race II
      <a
        href="https://www.memo-project.eu/flatCMS/index.php/Rules"
        class="text-red-500 underline hover:text-red-400"
        target="_blank">here</a
      >
    </p>

    <h2 class="pb-8 pt-32 text-5xl font-bold">Want to Help?</h2>
    <JoinCards />

    <div class="h-56"></div>
  </main>

  <script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    document.addEventListener("astro:page-load", () => {
      gsap.registerPlugin(ScrollTrigger);

      gsap.from("#days > div", {
        scrollTrigger: {
          trigger: "#days",
          start: "top 90%",
          toggleActions: "play none none none",
        },
        duration: 1,
        opacity: 0,
        y: 20,
        ease: "power2.out",
        stagger: 0.2,
      });

      gsap.from("#join", {
        scrollTrigger: {
          trigger: "#join",
          start: "top 85%",
          toggleActions: "play none none none",
        },
        duration: 1,
        opacity: 0,
        y: 30,
        scale: 0.9,
        ease: "bounce.out",
      });
    });
  </script>
</Layout>
