---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import headerImage from "@/images/team_5.webp";
import ArrowLink from "@/components/ArrowLink.astro";
import Sponsors from "@/components/Sponsors.astro";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const first_name = data.get("first_name");
    const last_name = data.get("last_name");
    const email = data.get("email");
    const message = data.get("message");
    // Do something with the data

    console.log(first_name, last_name, email);

    // Send the form data to the Discord webhook
    const discordWebhookUrl = Astro.locals.runtime?.env?.DISCORD_WEBHOOK_URL;

    if (!discordWebhookUrl) {
      console.error("Missing DISCORD_WEBHOOK_URL environment variable");
      throw new Error("Missing required environment variables");
    }

    const payload = JSON.stringify({
      embeds: [
        {
          title: "💵  New Sponsorship Inquiry",
          color: 15572509,
          description: message,
          fields: [
            {
              name: "Name",
              value: `${first_name} ${last_name}`,
            },
            {
              name: "Email",
              value: `<${email}>`,
            },
          ],
        },
      ],
    });

    const response = await fetch(discordWebhookUrl, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: payload,
    });

    if (response.ok) {
      return Astro.redirect("/sponsor/success");
    } else {
      console.error("Failed to send to Discord:", response.statusText);
      // Could add error handling here - for now just continue to render the page
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Sponsor Us | Formula Nano">
  <main>
    <img
      src={headerImage.src}
      alt="Sunny day photo of Formula Nano Team Members standing in front of University of Waterloo Quantum Nano Center"
      class="mt-8 h-48 w-full rounded-2xl object-cover sm:h-[30rem]"
    />
    <h1 class="py-8 text-6xl font-bold">Support Us</h1>

    <div class="rounded-3xl border border-yellow-200 bg-yellow-100 p-8">
      <h3 class="pb-4 text-xl font-bold">View our Sponsorship Package</h3>
      <ArrowLink
        to="/formula_nano_sponsorship_2024.pdf"
        label="Download Here"
        newTab
      />
    </div>

    <h2 class="pb-8 pt-16 text-5xl font-bold">We Need Your Help!</h2>
    <div class="flex flex-col gap-16 sm:flex-row">
      <div class="max-w-[70ch] flex-1 space-y-6">
        <p>
          Are you excited about the future of nanotechnology and shaping the
          next generation? Your support drives innovation and research,
          empowering students to push the boundaries at the nanoscale and
          advance the future of science and technology.
        </p>
        <p>
          If you're able to help or have any questions, please do not hesitate
          to reach out either by using the contact form on this page or sending
          us an email at <a
            href="mailto:uwformulanano@gmail.com"
            class="font-medium text-yellow-600 hover:text-yellow-800"
          >
            uwformulanano@gmail.com
          </a>, and please mention sponsorship in the subject line.
        </p>
      </div>
      <div class="flex-1">
        <form method="POST">
          <input
            type="text"
            name="first_name"
            class="relative -mb-px w-full rounded-2xl border border-stone-400 bg-stone-100 p-4 focus:border-yellow-500 focus:ring-4 focus:ring-yellow-200/30 focus-visible:z-10"
            placeholder="First Name"
            required
            autocomplete="given-name"
          />
          <input
            type="text"
            name="last_name"
            class="relative -mb-px w-full rounded-2xl border border-stone-400 bg-stone-100 p-4 shadow-none outline-none ring-0 focus:border-yellow-500 focus:ring-4 focus:ring-yellow-200/30 focus-visible:z-10"
            placeholder="Last Name"
            required
            autocomplete="family-name"
          />
          <input
            type="email"
            name="email"
            class="relative -mb-px w-full rounded-2xl border border-stone-400 bg-stone-100 p-4 shadow-none outline-none ring-0 focus:border-yellow-500 focus:ring-4 focus:ring-yellow-200/30 focus-visible:z-10"
            placeholder="E-mail Address"
            required
            autocomplete="email"
          />
          <textarea
            class="relative -mb-px w-full rounded-2xl border border-stone-400 bg-stone-100 p-4 shadow-none outline-none ring-0 focus:border-yellow-500 focus:ring-4 focus:ring-yellow-200/30 focus-visible:z-10"
            name="message"
            placeholder="Message"
            required
            autocomplete="off"
            rows={5}></textarea>
          <button
            class="transition-duration-200 rounded-lg bg-yellow-600 px-4 py-2 font-medium text-white transition-colors hover:bg-yellow-700"
            type="submit">Reach Out</button
          >
        </form>
      </div>
    </div>
    <Sponsors />
    <div class="h-56"></div>
  </main>
</Layout>
