---
import '../styles/global.css';
---

<section>
    <div class="section-title"><h2>About</h2></div>
    <div class="common-line"></div>
    <p>Formula Nano is dedicated to designing, building, and racing molecular machines at the nanoscale.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ultrices elit. Ut eget accumsan nisi. Suspendisse sagittis urna sed sem rutrum consequat non quis enim. Curabitur eleifend diam id justo finibus, a scelerisque tortor accumsan. Mauris cursus sollicitudin sapien, quis pellentesque justo posuere ut. Nulla sapien sem, feugiat at enim at, mattis posuere arcu. Aenean maximus, leo eget aliquam eleifend, est mi euismod metus, id efficitur nisl ante ac nisi. Sed eros nulla, gravida vel tortor bibendum, aliquet dignissim odio. Phasellus aliquet urna lectus, sed blandit felis vulputate eget. Morbi porttitor fermentum dolor, eleifend tristique magna lacinia vel. Quisque.
    </p>
</section>


