---
import '../styles/global.css';
---

<section>
    <div class="section-title" id="about"><h2>About</h2></div>
    <div class="common-line"></div>
    <p class="about-text"><span id="first">Formula</span><span id="second"> Nano</span> is dedicated to designing, building, and racing molecular machines at the nanoscale. We are an engineering student design team at the University of Waterloo working towards competing in the next international Nanocar Race. Teams compete to race single molecules using a specialized scanning tunneling microscope. </p>
    <p class="about-text">
        Team members can focus on the synthesis and characterization of molecular components in the lab or on simulating and optimizing the nanocar using computational models, exploring two important pillars of nanotechnology engineering.
    </p>
    <div class="common-line"></div>
    <p class="about-text">With about 100-1000 atoms and a lateral size of a few nanometers, a nanocar is a molecule with a distinguishable front and rear. Its chemical structure allows the nanocar to move on a surface when electrons flow through it from the STM tip. The propulsion mechanism can be either inelastic (related to the excitation of vibrational modes or to current-induced structural changes) or dipolar, resulting from the repulsion or attraction between the nanocar and the STM tip.</p>
</section>


