---
import '../styles/global.css';
---

<footer class="blur">
    <small> Copyright © <span id="copyrightYear"></span> Formula Nano</small>
</footer>
<script>
    document.querySelector('#copyrightYear').textContent = new Date().getFullYear();
</script>

