---
import LinkedIn from "../components/logos/LinkedIn.astro";
import pages from "../data/pages.json";

const year = new Date().getFullYear();
---

<footer class="bg-stone-200 px-8 py-4">
  <nav class="mx-auto max-w-6xl">
    <ul
      class="flex flex-col items-center gap-16 pb-12 font-semibold uppercase sm:flex-row"
    >
      <li><img src="../../logo_black.svg" alt="Formula Nano Logo" /></li>
      {
        pages.map((page) => (
          <li>
            <a href={page.path}>{page.name}</a>
          </li>
        ))
      }
      <li class="grow">
        <a
          class="float-right"
          href="https://www.linkedin.com/company/uwformulanano/"
          target="_blank"
          rel="noopener noreferrer"
          ><LinkedIn className="fill-stone-800 hover:fill-stone-600" /></a
        >
      </li>
    </ul>
    &copy; Formula Nano {year}
  </nav>
</footer>
