<header class="py-4" transition:persist>
  <nav>
    <ul
      class="flex h-20 place-content-between items-center font-semibold uppercase"
    >
      <li><a class="p-4" href="./.">Home</a></li>
      <li><a class="p-4" href="/join">Join Us</a></li>
      <li>
        <a href="/"><img src="../../logo.svg" alt="Formula Nano Logo" /></a>
      </li>
      <li><a class="p-4" href="/about">About Us</a></li>
      <li><a class="p-4" href="/sponsor">Sponsor</a></li>
    </ul>
  </nav>
</header>
