<header class="mx-auto max-w-6xl px-8 py-4" " transition:persist>
  <nav class="flex justify-between">
    <div>
      <a href="/"><img src="../../logo.svg" alt="Formula Nano Logo" /></a>
    </div>
    <ul
      class="flex h-20 place-content-between items-center font-semibold uppercase"
    >
      <li><a class="p-4" href="/join">Join</a></li>
      <li><a class="p-4" href="/about">About</a></li>
      <li><a class="p-4" href="/sponsor">Sponsor</a></li>
    </ul>
  </nav>
</header>
