---
import '../styles/global.css';
import TeamGrid from '../components/TeamGrid.astro';
---

<section>
    <div class="section-title"><h2>Team</h2></div>
    <div class="common-line"></div>
    <div class="team-grid">
        <h3 class="grid-item">Chemistry</h3>
        <p class="grid-item">Focuses on conducting experiments and finding new ways to synthesize our molecules</p>
        <h3 class="grid-item">Computation</h3>
        <p class="grid-item">Specializes in finding properties of our molecules in silico through DFT and other computational chemistry methods.</p>
        <h3 class="grid-item">Business</h3>
        <p class="grid-item">Handles the strategic planning, marketing, and financial aspects of the whole team.</p>
    </div>
    <TeamGrid />
<section>


