---
interface Props {
  date: string;
  title: string;
  body: string;
}

const { date, title, body} = Astro.props;
---

<div class="border-l border-stone-400 pb-8 pl-8">
  <span class="float-left -ml-10 mt-1 h-4 w-4 rounded-md bg-stone-500"></span>
  <h5
    class="inline font-chivo text-sm font-medium uppercase slashed-zero text-stone-500"
  >
    {date}
  </h5>
  <h4 class="text-lg font-bold leading-tight text-stone-900">{title}</h4>
  <p class="max-w-[50ch] text-base">
    {body}
  </p>
</div>