---
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  fullWidth?: boolean;
}

const { title, fullWidth = false } = Astro.props;

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="We are an engineering student design team at the University of Waterloo dedicated to designing, building, and racing molecular machines at the nanoscale"
    />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-stone-50 font-schibsted text-stone-900">
    <Nav currentPath={currentPath} />
    <div class=`${!fullWidth && "max-w-6xl mx-auto px-8"}`>
      <slot />
    </div>
    <Footer />
  </body>
</html>
